In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../data/bakery.csv')
df

,data-product-id,data-product-name,data-product-type,data-product-on-offer,data-product-index,image-url,product-page,product-name,product-size,item-price,price-per-unit,offer-description,category
0,872615,Mr Kipling Viennese Whirls,G,True,246,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling Viennese Whirls,6s,£1.98,33p each,25% Off. Was £2.65,Bakery
1,56312,Mr Kipling French Fancies,G,True,161,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling French Fancies,8s,£2.36,29.5p each,25% Off. Was £3.15,Bakery
2,684311,Mr Kipling 8 Angel Slices,G,True,277,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling 8 Angel Slices,8s,£2.96,37p each,25% Off. Was £3.95,Bakery
3,540706,Waitrose 4 Brioche Burger Buns,G,True,4,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/waitros...,Waitrose 4 Brioche Burger Buns,4s,£1.31,32.8p each,25% Off. Was £1.75,Bakery
4,783454,Hovis Seed Sensations Multiseeded Sliced Bread,G,False,5,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/hovis-s...,Hovis Seed Sensations Multiseeded Sliced Bread,800g,£1.90,23.8p/100g,NaN,Bakery
...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,384230,Galaxy Chocolate Cake Bars,G,False,481,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/galaxy-...,Galaxy Chocolate Cake Bars,5s,£2.25,45p each,NaN,Bakery
481,376437,25cm Football Cake,E,False,482,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/25cm-fo...,25cm Football Cake,each,£30.00,£30 each,NaN,Bakery
482,374515,Waitrose Ready To Bake 4 All Butter Cinnamon S...,G,True,483,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/waitros...,Waitrose Ready To Bake 4 All Butter Cinnamon S...,360g,£2.60,£7.23/kg,Introductory Offer.Will be £3.30,Bakery
483,297903,Dr. Oetker Old School Cake Mix Vanilla,G,False,484,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/dr-oetk...,Dr. Oetker Old School Cake Mix Vanilla,436g,£3.00,£6.89/kg,NaN,Bakery
484,77133,Cohens Bakery Buckingham Rye Bread,G,False,485,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/cohens-...,Cohens Bakery Buckingham Rye Bread,400g,£2.10,52.5p/100g,NaN,Bakery

In [3]:
selected_columns = ['data-product-id','data-product-name','data-product-type']
print(df[selected_columns])

     data-product-id                                  data-product-name  \
0             872615                         Mr Kipling Viennese Whirls
1              56312                          Mr Kipling French Fancies
2             684311                          Mr Kipling 8 Angel Slices
3             540706                     Waitrose 4 Brioche Burger Buns
4             783454     Hovis Seed Sensations Multiseeded Sliced Bread
..               ...                                                ...
480           384230                         Galaxy Chocolate Cake Bars
481           376437                                 25cm Football Cake
482           374515  Waitrose Ready To Bake 4 All Butter Cinnamon S...
483           297903             Dr. Oetker Old School Cake Mix Vanilla
484            77133                 Cohens Bakery Buckingham Rye Bread

    data-product-type
0                   G
1                   G
2                   G
3                   G
4                   G
..                ...
480                 G
481                 E
482                 G
483                 G
484                 G

[485 rows x 3 columns]

In [4]:
if df['product-name'].equals (df['data-product-name']):
    print(" The columns are identical ")
    df = df.drop(columns=['data-product-name'])

else:
    print("The columns are not identical. Dropping the Columns")

 The columns are identical

In [5]:
df = df.rename(columns= {
                'data-product-id':'product-id',
                'data-product-name':'pro_name',
                'data-product-type':'pro_type',
                'data-product-on-offer':'offer',
                'data-product-index':'index',
                'image-url':'url',
                'product-page':'page',
                'product-name':'name',
                'product-size':'size',
                'item-price':'price',
                'price-per-unit':'unit',
                'offer-description':'offer_desc',
                'category':'catgs'}
                )
df

,product-id,pro_type,offer,index,url,page,name,size,price,unit,offer_desc,catgs
0,872615,G,True,246,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling Viennese Whirls,6s,£1.98,33p each,25% Off. Was £2.65,Bakery
1,56312,G,True,161,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling French Fancies,8s,£2.36,29.5p each,25% Off. Was £3.15,Bakery
2,684311,G,True,277,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/mr-kipl...,Mr Kipling 8 Angel Slices,8s,£2.96,37p each,25% Off. Was £3.95,Bakery
3,540706,G,True,4,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/waitros...,Waitrose 4 Brioche Burger Buns,4s,£1.31,32.8p each,25% Off. Was £1.75,Bakery
4,783454,G,False,5,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/hovis-s...,Hovis Seed Sensations Multiseeded Sliced Bread,800g,£1.90,23.8p/100g,NaN,Bakery
...,...,...,...,...,...,...,...,...,...,...,...,...
480,384230,G,False,481,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/galaxy-...,Galaxy Chocolate Cake Bars,5s,£2.25,45p each,NaN,Bakery
481,376437,E,False,482,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/25cm-fo...,25cm Football Cake,each,£30.00,£30 each,NaN,Bakery
482,374515,G,True,483,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/waitros...,Waitrose Ready To Bake 4 All Butter Cinnamon S...,360g,£2.60,£7.23/kg,Introductory Offer.Will be £3.30,Bakery
483,297903,G,False,484,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/dr-oetk...,Dr. Oetker Old School Cake Mix Vanilla,436g,£3.00,£6.89/kg,NaN,Bakery
484,77133,G,False,485,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/cohens-...,Cohens Bakery Buckingham Rye Bread,400g,£2.10,52.5p/100g,NaN,Bakery

In [6]:
item_price_list =df['price'].tolist()

new_list = []

for element in item_price_list:
    if '£' in element:
        new_element = element.replace('£', '')
    elif 'p' in element:
        new_element = element.replace('p','')
        new_element = '0.' + new_element
    else:
        new_element = element

    new_list.append(new_element)

df['price'] = new_list
df['price'] = df['price'].astype(float)

In [7]:
new_list

['1.98',
 '2.36',
 '2.96',
 '1.31',
 '1.90',
 '1.30',
 '1.00',
 '2.00',
 '1.10',
 '2.50',
 '1.85',
 '1.00',
 '1.85',
 '2.20',
 '1.50',
 '0.65',
 '0.90',
 '1.45',
 '1.10',
 '0.65',
 '2.00',
 '1.95',
 '1.55',
 '1.20',
 '0.70',
 '1.25',
 '2.50',
 '1.20',
 '1.90',
 '1.35',
 '0.90',
 '1.45',
 '1.28',
 '1.60',
 '1.45',
 '0.80',
 '1.68',
 '1.00',
 '0.90',
 '2.40',
 '1.30',
 '2.10',
 '2.20',
 '1.25',
 '2.50',
 '1.68',
 '2.00',
 '2.15',
 '1.70',
 '0.50',
 '0.90',
 '1.35',
 '1.85',
 '0.75',
 '1.25',
 '1.40',
 '1.90',
 '1.00',
 '2.00',
 '2.70',
 '1.95',
 '1.50',
 '1.45',
 '2.20',
 '1.45',
 '2.30',
 '0.70',
 '1.55',
 '2.00',
 '2.30',
 '2.00',
 '1.95',
 '1.60',
 '1.25',
 '1.65',
 '1.75',
 '2.00',
 '1.28',
 '2.75',
 '0.75',
 '1.50',
 '2.35',
 '1.80',
 '1.45',
 '1.10',
 '2.40',
 '1.50',
 '2.15',
 '2.50',
 '0.90',
 '2.00',
 '2.96',
 '3.00',
 '2.20',
 '1.55',
 '1.75',
 '1.25',
 '1.50',
 '2.96',
 '1.85',
 '1.30',
 '2.00',
 '1.75',
 '3.50',
 '1.90',
 '3.50',
 '1.70',
 '3.10',
 '3.50',
 '2.40',
 '1.40',
 '2.40',
 '1.60',
 '1.50',
 '2.20',
 '1.60',
 '1.60',
 '1.35',
 '2.70',
 '2.00',
 '2.10',
 '1.90',
 '2.30',
 '1.50',
 '1.35',
 '2.00',
 '1.30',
 '0.80',
 '4.00',
 '0.70',
 '1.44',
 '1.60',
 '1.35',
 '1.20',
 '2.96',
 '2.50',
 '2.00',
 '2.00',
 '2.10',
 '1.56',
 '1.52',
 '1.45',
 '2.00',
 '2.60',
 '2.00',
 '1.52',
 '2.96',
 '2.00',
 '1.95',
 '0.60',
 '2.50',
 '1.10',
 '1.30',
 '2.60',
 '6.50',
 '2.75',
 '1.40',
 '2.10',
 '1.80',
 '2.00',
 '2.36',
 '2.55',
 '1.80',
 '3.00',
 '1.25',
 '3.00',
 '2.40',
 '1.60',
 '2.55',
 '17.00',
 '1.50',
 '1.35',
 '1.35',
 '2.80',
 '2.96',
 '2.30',
 '1.60',
 '3.50',
 '0.75',
 '2.10',
 '3.50',
 '2.30',
 '2.10',
 '1.35',
 '2.55',
 '0.70',
 '2.35',
 '2.17',
 '2.95',
 '4.70',
 '3.10',
 '3.95',
 '1.30',
 '1.65',
 '2.00',
 '2.20',
 '3.40',
 '2.80',
 '2.20',
 '3.50',
 '1.90',
 '2.30',
 '2.30',
 '2.80',
 '2.20',
 '1.30',
 '2.60',
 '2.96',
 '2.60',
 '2.00',
 '2.40',
 '2.10',
 '2.00',
 '6.50',
 '2.75',
 '2.30',
 '1.95',
 '1.15',
 '3.00',
 '1.50',
 '1.10',
 '2.00',
 '2.30',
 '1.90',
 '1.50',
 '3.15',
 '1.85',
 '1.50',
 '1.25',
 '1.75',
 '2.00',
 '6.50',
 '2.25',
 '3.65',
 '1.10',
 '2.20',
 '1.15',
 '1.65',
 '3.00',
 '2.60',
 '1.70',
 '0.60',
 '2.00',
 '1.50',
 '4.00',
 '1.98',
 '2.20',
 '2.90',
 '1.50',
 '2.10',
 '1.75',
 '3.00',
 '1.95',
 '2.00',
 '1.70',
 '2.20',
 '4.90',
 '3.00',
 '1.50',
 '3.15',
 '2.15',
 '1.80',
 '2.30',
 '2.50',
 '2.55',
 '1.75',
 '2.25',
 '3.10',
 '1.90',
 '1.50',
 '1.30',
 '3.15',
 '3.25',
 '2.00',
 '1.40',
 '2.50',
 '2.96',
 '2.50',
 '3.15',
 '12.50',
 '3.00',
 '1.10',
 '1.90',
 '2.50',
 '2.00',
 '0.60',
 '1.95',
 '3.00',
 '1.80',
 '4.60',
 '2.60',
 '2.65',
 '2.50',
 '3.15',
 '1.10',
 '4.00',
 '3.50',
 '2.00',
 '2.00',
 '3.00',
 '3.00',
 '6.50',
 '4.60',
 '2.00',
 '2.95',
 '2.90',
 '2.95',
 '2.90',
 '3.25',
 '2.50',
 '1.30',
 '12.50',
 '2.90',
 '1.50',
 '15.00',
 '16.50',
 '3.25',
 '2.90',
 '2.40',
 '2.65',
 '1.90',
 '8.50',
 '1.30',
 '2.50',
 '2.15',
 '1.35',
 '2.50',
 '1.50',
 '1.00',
 '0.90',
 '1.85',
 '2.50',
 '3.15',
 '2.00',
 '3.00',
 '6.50',
 '1.00',
 '1.30',
 '3.25',
 '7.00',
 '1.55',
 '1.60',
 '4.15',
 '2.00',
 '2.00',
 '3.15',
 '2.50',
 '4.15',
 '3.00',
 '3.95',
 '1.30',
 '5.10',
 '14.00',
 '7.00',
 '3.25',
 '2.50',
 '2.25',
 '1.90',
 '1.50',
 '1.88',
 '32.00',
 '26.00',
 '1.20',
 '2.20',
 '2.00',
 '2.25',
 '1.75',
 '2.50',
 '23.00',
 '2.60',
 '3.00',
 '2.00',
 '7.00',
 '15.00',
 '3.95',
 '12.00',
 '2.65',
 '28.00',
 '1.70',
 '1.35',
 '2.00',
 '4.00',
 '3.15',
 '26.00',
 '10.00',
 '1.20',
 '1.70',
 '23.00',
 '1.75',
 '15.00',
 '2.10',
 '3.75',
 '2.60',
 '2.20',
 '3.95',
 '7.00',
 '3.45',
 '2.50',
 '16.00',
 '45.00',
 '10.00',
 '1.50',
 '2.20',
 '2.75',
 '1.95',
 '3.60',
 '2.50',
 '40.00',
 '35.00',
 '4.00',
 '3.15',
 '26.00',
 '4.70',
 '4.00',
 '8.50',
 '1.10',
 '5.30',
 '40.00',
 '40.00',
 '3.80',
 '1.20',
 '35.00',
 '30.00',
 '16.00',
 '16.00',
 '1.87',
 '26.00',
 '1.75',
 '26.00',
 '35.00',
 '2.95',
 '16.00',
 '16.50',
 '28.00',
 '40.00',
 '4.15',
 '35.00',
 '3.50',
 '35.00',
 '4.00',
 '16.00',
 '1.70',
 '15.00',
 '14.00',
 '2.65',
 '26.00',
 '14.00',
 '1.10',
 '35.00',
 '35.00',
 '10.00',
 '16.00',
 '28.00',
 '16.00',
 '2.30',
 '2.50',
 '4.00',
 '7.00',
 '16.50',
 '15.00',
 '16.00',
 '2.35',
 '2.10',
 '8.00',
 '14.00',
 '15.00',
 '2.10',
 '35.00',
 '40.00',
 '1.50',
 '32.00',
 '2.60',
 '2.10',
 '1.75',
 '7.00',
 '5.50',
 '2.10',
 '1.75',
 '3.00',
 '10.00',
 '2.25',
 '30.00',
 '2.60',
 '3.00',
 '2.10']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product-id  485 non-null    int64
 1   pro_type    485 non-null    object
 2   offer       485 non-null    bool
 3   index       485 non-null    int64
 4   url         485 non-null    object
 5   page        485 non-null    object
 6   name        485 non-null    object
 7   size        482 non-null    object
 8   price       485 non-null    object
 9   unit        463 non-null    object
 10  offer_desc  52 non-null     object
 11  catgs       485 non-null    object
dtypes: bool(1), int64(2), object(9)
memory usage: 42.3+ KB

In [9]:
df[["price"]]

     price
0     1.98
1     2.36
2     2.96
3     1.31
4     1.90
..     ...
480   2.25
481  30.00
482   2.60
483   3.00
484   2.10

[485 rows x 1 columns]

In [7]:
df.loc[df['price'].str.contains('p'), 'price'] = df['price'].apply(lambda x: '0.'+str.replace(x,'p',''))

In [ ]:
df[['price']]

      price
0     £1.98
1     £2.36
2     £2.96
3     £1.31
4     £1.90
..      ...
480   £2.25
481  £30.00
482   £2.60
483   £3.00
484   £2.10

[485 rows x 1 columns]

In [8]:
df.loc[df['price'].str.contains('£'), 'price'] = df['price'].str.replace('£','')

In [17]:
df[["price"]]

     price
0     1.98
1     2.36
2     2.96
3     1.31
4     1.90
..     ...
480   2.25
481  30.00
482   2.60
483   3.00
484   2.10

[485 rows x 1 columns]

In [9]:
df['price'] = df['price'].astype(float)
df[["price"]]

     price
0     1.98
1     2.36
2     2.96
3     1.31
4     1.90
..     ...
480   2.25
481  30.00
482   2.60
483   3.00
484   2.10

[485 rows x 1 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product-id  485 non-null    int64
 1   pro_type    485 non-null    object
 2   offer       485 non-null    bool
 3   index       485 non-null    int64
 4   url         485 non-null    object
 5   page        485 non-null    object
 6   name        485 non-null    object
 7   size        482 non-null    object
 8   price       485 non-null    float64
 9   unit        463 non-null    object
 10  offer_desc  52 non-null     object
 11  catgs       485 non-null    object
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 42.3+ KB